main{
    background: var(--main-bg);
    padding: 50px 0;
    .body-container{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .single-product{

            display: flex;
            flex-direction: column;
            gap: 50px;
            .the-product{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .product-img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 100%;
                    }
                    .product-imgs{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        >div{
                            width: 65px ;
                            height: 65px ;
                            border-radius: 10px;
                            border: 1px solid var(--main-gray);
                            &:first-child{
                                border: 1px solid var(--main-red);
                            }
                            img{
                                width: 100%;
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .product-info{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 20px;
                    h2{
                        font-size: 30px;
                        line-height: 45px;
                        font-weight: 700;
                        color: var(--text-color);
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                        &:nth-child(2),
                        &:nth-child(7){
                            font-weight: 600;
                            color: var(--text-color);
                            span{
                                color: var(--light-text-color);
                                font-weight: 500;
                            }
                        }
                        &:nth-child(4){
                            font-size: 25px;
                            line-height: 25px;
                            font-weight: 700;
                            color: var(--main-red);
                        }
                        &:nth-child(5){
                            font-size: 14px;
                            line-height: 21px;
                            color: var(--text-color);
                        }
                    }
                    .pi-rated{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        >span{
                            &:first-child{
                                font-size: 14px;
                                line-height: 21px;
                                color: var(--light-text-color);
                                font-weight: 500;
                            }
                            &:last-child{
                                font-size: 14px;
                                line-height: 21px;
                                font-weight: 500;
                            }
                        }
                        .stars{
                            .star{
                                font-size: 14px;
                                line-height: 21px;
                            }
                            .checked {
                                color: orange;
                            }
                        }
                    }
                    button{
                        font-size: 14px ;
                        line-height: 14px;
                        font-weight: 600;
                        border-radius: 5px ;
                        background-color: var(--main-red);
                        color: var(--white);
                        padding: 11px 24px;
                        border: none;
                    }

                }
            }
        }

        .bought-together{
            display: flex;
            flex-direction: column;
            .section-top{
                display: flex;
                align-items: center;
                justify-content: start;
                padding-top: 10px;
                padding-bottom: 10px;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    color: var(--black);
                }
            }
            .section-bottom{
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 2.3fr;
                grid-gap: 50px;
                .card{
                    position: relative;
                    background-color: var(--white);
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 10px;
                    a:first-child{
                        position: relative;
                        img{
                            width: 100%;
                            border-radius: 10px;
                            
                        }
                        .black-effect{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            border-radius: 10px;
                            height: 100%;
                            background-color: var(--black);
                            opacity: 0;
                            transition: 0.3s ease-in-out;
                            &:hover{
                                opacity: 0.4;
                            }
                        }
                    }
                    a:last-child{
                        text-align: start;
                        p{
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 600;
                            color: var(--black);
                            &:last-child{
                                color: var(--main-red);
                            }
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        &::before{
                            content: "+";
                            font-size: 24px;
                            font-weight: 800;
                            color: var(--gray);
                            position: absolute;
                            left: -35px;
                            top: calc(50% - 12px);
                        }
                    }
                }
                .total{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 20px;
                    border: 1px solid var(--gray);
                    p{
                        &:first-child{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                            color: var(--main-red);
                        }
                        &:nth-child(2){
                            font-size: 14px ;
                            line-height: 21px ;
                            color: var(--light-text-color);
                        }
                    }
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        button{
                            font-size: 14px;
                            line-height: 14px ;
                            font-weight: 600;
                            padding: 11px 24px;
                            cursor: pointer;
                            background-color: var(--main-red);
                            border: 1px solid var(--main-red);
                            border-radius: 5px;
                            color: var(--white);
                            transition: 0.3s ease-in-out;
                            &:last-child{
                                background-color: var(--main-bg);
                                color: var(--main-red);
                                &:hover{
                                    background-color: var(--main-red);
                                    border: none;
                                    color: var(--white);
                                }
                            }
                        }
                    }
                    &::before{
                        content: "=";
                        font-size: 24px;
                        font-weight: 800;
                        color: var(--gray);
                        position: absolute;
                        left: -35px;
                    }
                }
            }
        }

        .also-available{
            display: flex;
            flex-direction: column;
            .section-top{
                display: flex;
                align-items: center;
                justify-content: start;
                padding-top: 10px;
                padding-bottom: 10px;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    color: var(--black);
                }
            }
            .section-bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 20px;
                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    padding: 50px;
                    border-radius: 10px;
                    background-color: var(--white);
                    .also-available-img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            height: 100%;
                        }
                    }
                    p{
                        text-align: center;
                        font-size: 17px;
                        line-height: 25px;
                        font-weight: 600;
                        color: var(--black);
                    }
                }
            }
        }

        .related-products{
            display: flex;
            flex-direction: column;
            .section-top{
                display: flex;
                align-items: center;
                justify-content: start;
                padding-top: 10px;
                padding-bottom: 10px;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    color: var(--black);
                }
            }
            .section-bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 40px;
                .card{
                    position: relative;
                    background-color: var(--white);
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    .card-img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 280px;
                        img{
                            margin-top: 20px;
                            border-radius: 10px;
                            width: 90%;
                        }
                    }
                    >p{
                        margin-top: 20px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 21px;
                        color: var(--text-color);
                    }
                    .card-bottom{
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        margin-top: 10px;
                        .cb-left{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .stars{
                                .star{
                                    font-size: 14px;
                                    line-height: 21px;
                                }
                                .checked {
                                    color: orange;
                                  }
                            }
                            .price{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                p{
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 21px;
                                    &:first-child{
                                        color: var(--main-red);   
                                    }
                                    &:last-child{
                                        color: var(--light-text-color);
                                        text-decoration: line-through;
                                    }
                                }
                            }
                        }
                        .cb-right{
                            svg{
                                border: 1px solid var(--main-light-red);
                                padding: 2px;
                                border-radius: 5px;
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    background-color: var(--main-red);
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &::before{
                        content: "25% off";
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 15px;
                        padding: 5px 10px;
                        border-radius: 20px;
                        background-color: var(--main-red);
                        color: var(--white);
                    }
                    .eye-like{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        opacity: 0;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover{
                        .eye-like{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}